@import "tailwindcss";

@theme {
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-indigo-600: #4f46e5;
  --color-indigo-500: #6366f1;
  --color-indigo-400: #818cf8;
}

body {
  @apply bg-slate-900 text-gray-100 font-sans;
}
